<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">

            <!-- Footer Widget Area -->
            <div class="col-12 col-lg-5">
                <div class="footer-widget-area mt-50">
                    <a href="https://goo.gl/maps/DRm9zGCf29V45U5S8" class="d-block mb-5"><img src="R-IMG/background/logo.png" alt=""  style="width: 250px;"></a>
                    <p>
                        The Resta Hotel enjoys a great location near the Mediterranean Sea and offers views of the ships and ships that pass right by the Suez Canal entrance
                    </p>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="footer-widget-area mt-50">
                    <h6 class="widget-title mb-5">Find us on the map</h6>
                   <a href="https://goo.gl/maps/DRm9zGCf29V45U5S8" target="_blank"> <img src="img/bg-img/footer-map.png" alt=""></a>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <!-- <div class="col-12 col-md-6 col-lg-3">
                <div class="footer-widget-area mt-50">
                    <h6 class="widget-title mb-5">Subscribe to our newsletter</h6>
                    <form action="#" method="post" class="subscribe-form">
                        <input type="email" name="subscribe-email" id="subscribeemail" placeholder="Your E-mail">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div> -->

            <!-- Copywrite Text -->
            <div class="col-12">
                <div class="copywrite-text mt-30">
                    <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |    by <a href="" target="_blank">A&M SoftSolution</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
<!-- </footer><i class="fa fa-heart-o" aria-hidden="true"></i> -->
<!-- ##### Footer Area End ##### -->
