<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resta - Hotel </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <title><%= pageTitle %></title>
  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="style.css">
  
  <link rel="stylesheet" href="/css/main.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">





   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">



<!-- bootstrap css -->
<link rel="stylesheet" href="css2/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css2/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css2/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">



  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->


 <!-- header -->
 <header>
    <!-- header inner -->
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                   <div class="center-desk">
                      <div class="logo">
                         <a href="index.html"><img src="R-IMG/background/logo.png" alt="#"  style="width: 100px;"></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto" style="margin-top: 20px;">
                      <li class="nav-item ">
                          <a class="nav-link" href="/">Home</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="/services">Services</a>
                       </li>
                       <!-- <li class="nav-item">
                          <a class="nav-link" href="/room">Rooms</a>
                       </li> -->
                       <li class="nav-item">
                          <a class="nav-link" href="/F&B">F&B</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact Us</a>
                       </li>
                       
                      
                       <li class="nav-item">
                          <div class="menu-btn" >
                              <a href="/reservation" class="det-btn" style="display: flex; justify-content: center; align-items: center; background-color: #85714D; font-size: 15px ; color: white; border: 2px solid #85714D; width: 170px ; height: 30px;"  >Make a Reservation</a>
                          </div> </li>
                    </ul>
                   </div>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </header>
 <!-- end header inner -->
 <!-- end header -->








        <!-- ##### Breadcumb Area Start ##### -->
      <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(./R-IMG/55.png); background-repeat:no-repeat;">
        <div class="bradcumbContent" >
            <h2  style="border-color: #85714D;">Food & Bavarage </h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

  <main id="main">


    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our Hotel </p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/S.pool/1.jpg" class="img-fluid" alt="" style="height: 500px; width: 700px;">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Wedding parties </h3>
                  <div class="price">
                  
                  </div>
                  <p style="font-size: 18px ;">
                    The swimming pool, with its wide area, which can accommodate up to 300 people,
                    and its distinguished location on the banks of the canal, and the possibility of adding different decorations to suit the taste of each newlyweds, which makes it the most suitable choice for those with refined and distinguished taste.
                    We also solved the difficult equation. We were able to balance between the appropriate price and the distinguished service, so that we can make the night of life remain perfectly.

                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> Distinctive prices and high quality for every detail</li>
                    <li><i class="bi bi-check-circled"></i> A new style of joy and happiness for the most beautiful day in your life</li>
                  </ul>
                  <p>
                    Every detail of your joy matters to us. Our goal is 
                    to make you happy in all ways. Let your joy be according to your taste.... 
                    with Rasta Port Said Hotel
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/S.pool/ka3a.jpg" class="img-fluid"   style="height: 400px;">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Private Parties</h3>
                  <div class="price">
                    
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="assets/img/S.pool/ka3a2.jpg" class="img-fluid" style="height: 500px;">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Meetings</h3>
                  <div class="price">
                   
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

<!-- <h1 style="margin-top: 70px; font-size: 25px; padding-top: 20;"></h1> -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials"  style="background-color: white ;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Special Places </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Main Restaurant ' Green House '</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> Italian resturant </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Swimming pool </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4"> Bar  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Main Hall </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Green House </h3>
                    <p style="font-size: 18px;"> 

                      A casual dining restaurant, serving breakfast daily and a large variety of international dishes.
                     <br> The Green House is distinguished by its wonderful modern décor, which creates a charming atmosphere during your
                       lunch with a different variety of dishes and meals prepared with love for you.
                    



                    </p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/S.pool/4.jpg" alt="" class="img-fluid" style="height: 200px; width: 500px; border-radius: 20px ;">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3> Italian resturant</h3>
                    <p style="font-size: 18px ;">  


                      An authentic Italian restaurant overlooking the Old Port, serving creative Mediterranean cuisine in a romantic setting.
                      <p style="margin-top: 5px ; font-size: 18px ">
                        <br>  In addition to its view of the swimming pool, you can enjoy eating different meals that combine Italian taste and Egyptian atmosphere.

                      </p>

                    </p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/S.pool/5.jpg" alt="" class="img-fluid" style="height: 200px; width: 500px; border-radius: 20px ;">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Open Air Events </h3>
                    <p style="font-size: 18px;">
                      The swimming pool, with its wide area, which can accommodate up to 300 people,
                      and its distinguished location on the banks of the canal, and the possibility of adding different decorations to suit the taste of each newlyweds, which makes it the most suitable choice for those with refined and distinguished taste.
                      We also solved the difficult equation. We were able to balance between the appropriate price and the distinguished service, so that we can make the night of life remain perfectly.
  </p>
                    <p></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/S.pool/pool.jpg" alt="" class="img-fluid" style="height: 200px; width: 500px; border-radius: 20px ;">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Our Bar </h3>
                    <p  style="font-size: 18px;"> 
                      
                      Traditional English lounge bar with views of the Canal , 
                      Serving cocktails and an extensive choice of international refreshments . 
                    </p> 
                     <br> <p style="font-size: 18px;">   
                      Our bar overlooks the pool and the Suez Canal, creating a 
                      great atmosphere with a variety of homemade wines for an unparalleled experience at the Resta Port Said Hotel.
                    </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/S.pool/6.jpg" alt="" class="img-fluid" style="height: 200px; width: 500px; border-radius: 20px ;">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Our Main Hall </h3>
                    <p  style="font-size: 18px;" >
                       
                       Flexible meeting and banqueting space forup to 120 guests Theater style <br>

                       Weddings for up to 120 guests <br>
                       U-shape meetings and presentations forup to 35 delegates  <br>
                       Round tables up to 50 guests <br>
                       Class room up to 32 guests

                    </p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/S.pool/ka3a2.jpg" alt="" class="img-fluid" style="height: 200px; width: 500px; border-radius: 20px ;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->





    

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg" style="background-color: white;">
      <div class="container" data-aos="fade-up">

        <div class="section-title" >
          <h2 style="color: black;">Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter=".filter-starters"   style="font-size: 20px;" >Green House </li>
              <li data-filter=".filter-salads"  style="font-size: 20px;">Bar </li>
              <li data-filter=".filter-specialty" style="font-size: 20px;">Khdewy</li>
            </ul>
          </div>
        </div>
<!-- 
        <div style="text-align: center;"  data-filter=".filter-starters">

          <img src="assets/img/menu/S.jpg" alt="" style="margin: auto;">

        </div> -->

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">


          <!-- ---------------- Green House ----------------------- -->


                    <!-- ------------------------- Main Dishes ----------------------------- -->

<!-- 
          <div  class="col-lg-6 menu-item filter-starters">

            <div style="text-align: center;"  data-filter=".filter-starters">

              <img src="assets/img/menu/Main.jpg" alt="" >
    
            </div>

          </div> 




          <div class="col-lg-6 menu-item filter-salads">
                     
          </div> -->
          
          
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/SEABASS.webp" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                SEABASS
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Sea bass grilled  or fried  with shrimp  sauce Served with white  Rice,  diced  vegetables
            
            </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                سمك قاروص مشوي أو مقلي مع صوص الروبيان يقدم مع أرز أبيض وخضار مقطعة        
              
              </div>
          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/SEAFOOD  TAJIAN.jpg" class="menu-img" alt="" style="width: 130px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                SEAFOOD  TAJIAN              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Shrimp,  calamari,  fish fillet, crap steak,  cream  sauce, mozzarella  cheese served  with  white  rice garnishee            
          </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                جمبري، كاليماري، سمك فيليه، كراب ستيك، صوص كريمة، جبنة موتزاريلا يقدم مع أرز أبيض مقبلات                  </div>
          </div>
         



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/FRIED  CALAMARI.webp" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                FRIED  CALAMARI
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Fried Calamari  served  with  French  fries and tartar  sauce              
            </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                كاليماري مقلي يقدم مع البطاطس المقلية وصلصة التارتار              
              </div>
          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/BACKED  SCOTCH  SALMON  STEAK.jpg" class="menu-img" alt="" style="width: 120px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                BACKED  SCOTCH  SALMON  STEAK
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Marinated  salmon  steak  served Creamy  mashed  potatoes, Grilled vegetables, sun dried  tomatoes             
            
          </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                شريحة لحم سلمون متبل تقدم مع بطاطا مهروسة بالكريمة، خضار مشوية، طماطم مجففة          
                  </div>
          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/SEAFOOD  PLATTER.jpg" class="menu-img" alt="" style="width: 120px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                SEAFOOD  PLATTER              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Assorted  of grilled  shrimps,  grilled  sea bass,  Grilled  sepia (squid) And Shrimp  kofta with rosy cream sauce  and Seafood  rice            
          </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                تشكيلة من الروبيان المشوي، قاروص البحر المشوي، الحبار المشوي وكفتة الروبيان مع صوص الكريمة الوردية وأرز المأكولات البحرية                  </div>
          </div>





          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/RED  SEA  SHRIMPS.jpg" class="menu-img" alt="" style="width: 100px; height: 80px;" >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                RED  SEA  SHRIMPS
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Jumbo  grilled  red sea shrimps served  with  Double  Jus Sauce With  white rice,  Broccoli  and roasted  potatoes  with herbs            
            </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                جمبري البحر الأحمر المشوي الكبير يقدم مع صلصة جوس دوبل مع الأرز الأبيض والبروكلي والبطاطس المشوية بالأعشاب              
              </div>
          </div>


          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/VEAL  ESCALOPE.png" class="menu-img" alt="" style="width: 110px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                VEAL  ESCALOPE
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Bread veal  escalope  Served  with spaghetti puttanesca           </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                خبز اسكالوب لحم العجل يقدم مع اسباجيتي بوتانيسكا   
              
              </div>
          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/MIXED  GRILLED.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                MIXED  GRILLED
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Grilled kofta, Veal kebab,  shish  tawook, Veal rack,  Egyptian  sausage  served  with oriental  rice and Grilled  vegetable  cubes            
            </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                كفتة مشوية، كباب لحم عجل، شيش طاووق، رف لحم عجل، سجق مصري يقدم مع الأرز الشرقي ومكعبات الخضار المشوية              
              </div>
          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/BEEF  MEDALION.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                BEEF  MEDALION              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Due inedallion of beef filet with pepper or mushroom  sauce Saut6ed  vegetables and  potatoes  with herbs            </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                ميدالية من شرائح اللحم البقري مع صلصة الفلفل أو الفطر، الخضار السوتيه والبطاطس مع الأعشاب              </div>
          </div>





          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/BEEF  STROGANOFF.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                BEEF  STROGANOFF
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Saut6ed  slices  Beef  with brown  sauce  flavored  with bell pepper Onion  fresh cream  with  w rice
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                شرائح لحم بقري سوتيه مع صلصة بنية بنكهة الفلفل الحلو والبصل والكريمة الطازجة مع الأرز      
                  </div>

            </div>
          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/VEAL  PICATTA.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                VEAL  PICATTA              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Sliced  veal  meat  cooked  in butter  with mushroom  sauce  or roquefort  sauce Served with saut6ed  vegetables and  mashed  potatoes

              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

شرائح لحم العجل مطهية بالزبدة مع صوص المشروم أو صوص الروكفورت تقدم مع خضار سوتيه و بطاطس مهروسة                  </div>

            </div>
          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/CHICKEN CURRY  (MADRAS).jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                CHICKEN CURRY  (MADRAS)
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Served with vegetables,  Green  apple and curry  sauce,  Madras  style With basmati rice
            </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                يقدم مع الخضار والتفاح الأخضر وصلصة الكاري على طريقة مدراس مع الأرز البسمتي
            </div>
          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/TOP KAPI.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                TOP KAPI              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
Half chicken  stuffed  rice, vegetables,  and mozzarella  cheese  dried fruit Served with roasted  potatoes  and herbs  brown  sauce            </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                نصف دجاجة محشية أرز، خضار، جبنة موزاريلا، فواكه مجففة تقدم مع بطاطس مشوية و صوص بني بالأعشاب            </div>
          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/CORDEN  BLUE.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                CORDEN  BLUE        
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            Chicken  breasts  stuffed  smoked beef smoked  turkeyAnd mozzarella  cheese  served  with  French fries and vegetables            

            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              صدور دجاج محشوة لحم بقري مدخن لحم رومي مدخن و جبنة موزاريلا تقدم مع بطاطا مقلية و خضار   

            </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/MARINATED  GRILLED  CHICKEN.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                MARINATED  GRILLED  CHICKEN              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Marinated  half boneless  chicken  with herb  served  with  grilled vegetables  and red rice
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              نصف دجاجة مخلـي متبلة بالأعشاب تقدم مع الخضار المشوية والأرز الأحمر
            </div>

          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/KATSHATOURI.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                KATSHATOURI
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Chicken  pieces with bill peppers, onions,  tomato  sauce  and olive oil served with white rice 
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              قطع الدجاج مع الفلفل الحلو، البصل، صلصة الطماطم وزيت الزيتون تقدم مع الأرز الأبيض     
            
            </div>

          </div>



          <!-- ------------------------- Main Dishes ----------------------------- -->


  <!-- ------------------------- Oriental Dishes ----------------------------- -->




          <!-- <div  class="col-lg-6 menu-item filter-starters">

            <div style="text-align: center;"  data-filter=".filter-starters">

              <img src="assets/img/menu/oreint.jpg" alt="" style="margin: auto;">
    
            </div>

          </div> 




          <div class="col-lg-6 menu-item filter-salads">
                     
                    </div> -->




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/EGYPTIAN  KEBAB  AND KOFTA.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                EGYPTIAN  KEBAB  AND KOFTA
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Served  with oriental rice            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              يقدم مع الأرز الشرقي            
            </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/SHISH  TAWOOK.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                  SHISH  TAWOOK              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
Chicken  cubes with  grilled  vegetables  French fries and  BBQ sauce             
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              مكعبات دجاج مع خضار مشوي، بطاطا مقلية و صوص باربيكيو       
            
            </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/KABAB HALLA.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                KABAB HALLA              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Beef cubes with  vegetables, brown  sauce  and white rice
            
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              مكعبات لحم بقري مع خضار، صوص بني وأرز أبيض     
            
            </div>

          </div>


          
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/VEGETABLE TAJEIN.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                VEGETABLE TAJEIN
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Crispy  bread  Rice with  garlic  tomato sauce  and beef cubes
            
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              مكعبات لحم البقر في صلصة الطماطم مع الخضار تقدم مع الأرز الأبيض
            </div>

          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/RICE  KHLATTA.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                RICE  KHLATTA              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Brown  rice with  raisins  and  nuts            
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              الأرز البني مع الزبيب والمكسرات      
            
            </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/KASHMIRI PULLAO  RICE.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                KASHMIRI PULLAO  RICE
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Kashmiri  basmati rice  with saffron  and  nuts
            
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

              أرز بسمتي كشميري مع زعفران ومكسرات            
            </div>

          </div>


          

  <!-- ------------------------- Oriental Dishes ----------------------------- -->




            <!-- ------------------------- Pasta  ----------------------------- -->


            <!-- <div  class="col-lg-6 menu-item filter-starters">

              <div style="text-align: center;"  data-filter=".filter-starters">
  
                <img src="assets/img/menu/pasta.jpg" alt="" style="margin: auto;">
      
              </div>
  
            </div> 




            <div class="col-lg-6 menu-item filter-salads">
                     
            </div> -->



            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/NAPOLETANA  PASTA.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
              <div >
                <a href="#"   style="font-size: 20px; margin-left: 10px;">
                  NAPOLETANA  PASTA                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Pasta with  fresh  tomato sauce, basil and olive oil
              
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
  
                باستا مع صلصة الطماطم الطازجة، الريحان و زيت الزيتون      
              
              </div>
  
            </div>



            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/RAGU PASTA (BOLOGNESE).jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
              <div >
                <a href="#"   style="font-size: 20px; margin-left: 10px;">
                  RAGU PASTA (BOLOGNESE)
                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Spaghetti  pasta served  with rich meat  sauce 
              
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
  
                معكرونة سباجيتي تقدم مع صلصة اللحم الغنية              
              </div>
  
            </div>



            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/TAGLIATELLE  PASTA.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
              <div >
                <a href="#"   style="font-size: 20px; margin-left: 10px;">
                  TAGLIATELLE  PASTA
                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Tagliatelle pasta with mushrooms, Egyptian  sausage Spicy tomato sauce  and parmigiano  cheese              
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
  
                مكرونة تالياتيلي مع مشروم، سجق مصري، صلصة طماطم حارة وجبنة بارميجيانو  
              
              </div>
  
            </div>

            
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/NEGRESSCO.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
              <div >
                <a href="#"   style="font-size: 20px; margin-left: 10px;">
                  NEGRESSCO                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Penne  pasta with cream  sauce, chicken and mozzarella  cheese
              
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
  
                مكرونة بيني مع صوص كريمة، دجاج وجبنة موزاريلا              
              </div>
  
            </div>




            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/OVEN  PASTA  TAJJIN.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
              <div >
                <a href="#"   style="font-size: 20px; margin-left: 10px;">
                  OVEN  PASTA  TAJJIN                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Pasta  added  to Alfredo  sauce  and then combined  with  Bolognese  and  parmesan cheese  and covered  with  mozzarclla cheese  and  baked  in the oven
              
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
  
                تضاف المعكرونة إلى صلصة ألفريدو ثم تمزج مع جبنة البولونيز والبارميزان وتغطى بجبنة الموزاريلا وتخبز في الفرن              
              </div>
  
            </div>



            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/SEAFOOD PASTA.jpg" class="menu-img" alt="" style="width: 110px; height: 100px; " >
              <div >
                <a href="#"   style="font-size: 20px; margin-left: 10px;">
                  SEAFOOD PASTA              
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Your choice  of favorite  pasta with shrimp, calamari  and cream sauce               
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                إختيارك من الباستا المفضلة مع جمبري، كاليماري و صوص كريمة  
              </div>
  
            </div>
          
          
                        <!-- ------------------------- Pasta  ----------------------------- -->





                    <!-- ------------------------- Sandwishes  ----------------------------- -->

          <!-- <div  class="col-lg-6 menu-item filter-starters">

            <div style="text-align: center;"  data-filter=".filter-starters">

              <img src="assets/img/menu/sand.jpg" alt="" style="margin: auto;">
    
            </div>

          </div> 



          <div class="col-lg-6 menu-item filter-salads">
                     
          </div> -->






          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/1.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                FILLET STEAK SANDWICH
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Grilled Beef Steak served  with French  fries and onion Rings  with brown  sauc    </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                فـيليه استيك مع الصوص البني يقـدم مع الـخبز الفرنسي وحـلقات البصـل 
                 </div>
          </div>





          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/2.jpg" class="menu-img" alt="" style="width: 100px;">
            <div  >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">TUNA  SANDWICH</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Tuna  salad topped  with melted  cheese, served  on French  baguette
               </div>
              
               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                  سـندوتس تـونة مغـطاه بالجبـن تقـدم علي الـخبز الفـرنـسي 
              </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/3.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">CLUB SANDWICH</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Slices white  Toast bread with Roasted Beef, 
              Chicken  and Eggs Cheese with Lettuce  and 
               mayonnaise served  with French fries           
               </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                  شرائح خبز التوست الأبيض مع اللحم المشوي والدجاج والبيض والجبن مع
                  الخس والمايونيز يقدم مع 
                  البطاطس المقلية          
               
                   </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/4.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">CLASSIC  BURGER SANDWICH</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Grilled  burger served  with creamy mayonnaise  sauce,  onion  rings Lettuce  and  Cheddar  cheese  sauce           
               </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                برجر مشوي يقدم مع صوص مايونيز كريمي، حلقات بصل، خس و صوص جبنة شيدر
                   </div>


          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/5.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">APACHE BURGER</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Grilled  burgerwith  fried  mozzarella  sticks, creamy  mayonnaise Shedder  and Texas  sauce, 
               tomatoes, onions, lettuce  and crunchy  potatoes           
                  </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                برجر مشوي مع أصابع الموتزاريلا المقلية، مايونيز كريمي شريدر و صوص تكساس، طماطم، بصل، خس و بطاطس مقرمشة                   </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/6.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                BBQ  CHICKEN  SHISH
              
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Chicken  Shish  served in baguette bread with vegetables Barbeque  sauce, cheddar  cheese and crunchy  potatoes
                </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                شيش دجاج يقدم في خبز باجيت مع خضار صوص باربيكيو، جبنة شيدر و بطاطس كرانشي             
                  </div>
          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/SUPER CRUNCHY CHICKEN.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"   style="font-size: 20px; margin-left: 10px;">
                SUPER CRUNCHY  CHICKEN              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Crispy  chicken breasts  with fried  mozzarella  sticks and fried onion  rings,  pickled  cucumber,  
              and chedddr  cheese  sauce served in baguette bread,
                crunchy  potatoes   </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >

                صدور الدجاج المقرمشة مع أصابع الموتزاريلا المقلية و حلقات البصل المقلية، خيار مخلل، و صوص جبنة الشيدر يقدم في خبز باجيت، بطاطس كرانشي                 </div>
          </div>




          
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/7.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">CHICKEN GORDON  BLUE</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Chicken  breasts  stuffed  with cheddar  cheese Beef and cheddar  sauces  with French fries           
                  </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                صدور دجاج محشوة جبنة شيدر لحم و صوص شيدر مع بطاطا مقلية              
              </div>

          </div>



          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/RESTA  SPECIAL KOFTA.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">RESTA  SPECIAL KOFTA</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Grilled  kofta served  on baguette bread with tihena  sauce Barbecue  sauce  and tomatoes served  with French fries                  </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                كفتة مشوية تقدم على خبز باجيت مع صوص طحينة و صوص باربيكيو و طماطم تقدم مع بطاطا مقلية              </div>

          </div>



           
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/FRIED  SHRIMPS.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">FRIED  SHRIMPS</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Fried shrimp  with Tehina sauce, ranch  sauce  and French fries
                  </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                روبيان مقلي مع صوص طحينة، صوص رانش وبطاطا مقلية
              </div>

          </div>







          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/CALAMARI RINGS.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">CALAMARI RINGS</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Calamari  rings served  on baguette bread TehinaAnd ranch sauce  on the sesame baguette  and French fries                  </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                حلقات كاليماري تقدم على خبز باجيت بالطحينة و صوص الرانش على خبز باجيت بالسمسم و بطاطس مقلية              </div>

          </div>




           
          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/SPICY  MIX.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">SPICY  MIX</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Shrimp,  calamari  and  fried fish with curry  sauce, green  coriander  and French fries                  </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                روبيان، كاليماري وسمك مقلي مع صوص الكاري، كزبرة خضراء وبطاطا مقلية     
                       </div>

          </div>




          <div class="col-lg-6 menu-item filter-starters">
            <img src="assets/img/menu/HOT  DOG.jpg" class="menu-img" alt="" style="width: 140px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">HOT  DOG</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              Served  on baguette  breadwith mustard,  fried  mozzarella  sticks,  BBQ sauce  and crispy
                  </div>

               <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
                يقدم على خبز باجيت مع خردل، أصابع موزاريلا مقلية، صوص باربيكيو و مقرمش
              </div>

          </div>



                              <!-- ------------------------- Sandwishes  ----------------------------- -->


                             

            <!-- --------------------------- Desserts -------------------------------- -->


            <!-- <div  class="col-lg-6 menu-item filter-starters">

              <div style="text-align: center;"  data-filter=".filter-starters">
  
                <img src="assets/img/menu/dess.jpg" alt="" style="margin: auto;">
      
              </div>
  
            </div> 



            <div class="col-lg-6 menu-item filter-salads">
                     
            </div> -->









            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/TRES  LECHES CAKE.jpg" class="menu-img" alt="" style="width: 140px;">
              <div >
                <a href="#"  style="font-size: 20px; margin-left: 10px;">
                  TRES  LECHES CAKE
                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Milk Cake Turkish  Style  with cream and caramel  sauce  
                    </div>
  
                 <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
                  كيكة الحليب على الطريقة التركية مع الكريمة وصوص الكراميل
                </div>
  
            </div>


            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/MOLTEN CHOOCOLATE  CAKE.jpg" class="menu-img" alt="" style="width: 120px;">
              <div >
                <a href="#"  style="font-size: 20px; margin-left: 10px;">
                  MOLTEN CHOOCOLATE  CAKE                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Molten  cake served  with ice cream, hot chocolate  and nuts  
              
              </div>
  
                 <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
                  مولتن كيك يقدم مع الآيس كريم، الشوكولاتة الساخنة والمكسرات
                  
                </div>
  
            </div>
  

            
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/GALAXY  CAKE.webp" class="menu-img" alt="" style="width: 100px;">
              <div >
                <a href="#"  style="font-size: 20px; margin-left: 10px;">
                  GALAXY  CAKE                
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Mix of white  and dark galaxy  chocolate served with chocolate  pieces    
              
              </div>
  
                 <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
                  مزيج من شوكولاتة جالاكسي البيضاء والداكنة تقدم مع قطع الشوكولاتة
                  
                </div>
  
            </div>
  



            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/ICE CREAM.jpg" class="menu-img" alt="" style="width: 120px;">
              <div >
                <a href="#"  style="font-size: 20px; margin-left: 10px;">
                  ICE CREAM               
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Your choice  from  favorite's  tasty ice cream  Topped  with hot chocolate  sauce whipped cream  and  nuts  
              
              </div>
  
                 <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
                  اختيارك من الآيس كريم اللذيذ المفضل لديك مغطى بصوص الشوكولاتة الساخنة والكريمة المخفوقة والمكسرات
                  
                </div>
  
            </div>



            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/SEASONAL  FRESH FRUIT PLATTER.jpg" class="menu-img" alt="" style="width: 140px;">
              <div >
                <a href="#"  style="font-size: 20px; margin-left: 10px;">
                  SEASONAL  FRESH FRUIT PLATTER               
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Served  with strawberry sauce              
              </div>
  
                 <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
                  يقدم مع صوص الفراولة                  
                </div>
  
            </div>




            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/CHOCOLATE  CAKE.jpg" class="menu-img" alt="" style="width: 120px;">
              <div >
                <a href="#"  style="font-size: 20px; margin-left: 10px;">
                  CHOCOLATE  CAKE               
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Served with your  choice  from vanilla sauce  or chocolate  sauce               
              </div>
  
                 <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
                  تقدم مع اختيارك من صوص الفانيليا أو صوص الشوكولاتة                  
                </div>
  
            </div>


            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/OM_ALI2.png" class="menu-img" alt="" style="width: 140px;">
              <div >
                <a href="#"  style="font-size: 20px; margin-left: 10px;">
                  OM ALI            
                </a>
              </div>
              <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
                Served with your  choice  from vanilla sauce  or chocolate  sauce               
              </div>
  
                 <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
                  تقدم مع اختيارك من صوص الفانيليا أو صوص الشوكولاتة                  
                </div>
  
            </div>


            <!-- --------------------------- Desserts -------------------------------- -->

          

                    <!-- ---------------- Green House ----------------------- -->




                        
                    <!-- ---------------- BAR ----------------------- -->

                    <div class="col-lg-6 menu-item filter-salads">
                      <img src="assets/img/menu/Eevptian  Wines.jpg" class="menu-img" alt="" style="width: 150px;">
                      <div >
                        <a href="#"  style="font-size: 20px; margin-left: 10px;">
                          Egyptian  Wines  
                        </a>
                      </div>
                      <div class="menu-ingredients" style="color: #6f2c3f;  " >
                        Red, White            </div>
                    </div>


          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Stella.jpg" class="menu-img" alt="" style="width: 130px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Stella</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; " >
            </div>
          </div>



          
          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Sakara.jpg" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Sakara
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Heineken  beer.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Heineken  beer
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Nonalcoholic beer.jpg" class="menu-img" alt="" style="width: 130px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Nonalcoholic beer
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Gin.jpg" class="menu-img" alt="" style="width: 140px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Gin
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Whisky.jpg" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Whisky
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Vodka  ID Blue.jpg" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Vodka  ID Blue
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Vodka  ID Black.jpg" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Vodka  ID Black
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-salads">
            <img src="assets/img/menu/Vodka  ID Black.jpg" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">
                Vodka  ID Black
              </a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            </div>
          </div>





             <!-- ---------------- BAR ----------------------- -->




              <!-- -------------------- Khdewy ----------------------- -->


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Tea Green tea Mint.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Tea \ Green tea\ Mint</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
            
            </div>
          </div>




          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Turkish coffee.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Turkish coffee</a>
            </div>
            <div class="menu-ingredients"style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>

        
          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Cappuccino.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Cappuccino</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Espresso.jpg" class="menu-img" alt="" style="width: 180px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Espresso</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Nescafe.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Nescafe</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>




          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Cinnamon,Sahlab.jpg" class="menu-img" alt="" style="width: 140px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Cinnamon,Sahlab</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Hot chocolate.jpeg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Hot chocolate</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Cafe mocha.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Cafe mocha</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>





          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Cafe latte.jpg" class="menu-img" alt="" style="width: 180px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Cafe latte</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Caf6  Americano.png" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Cafe  Americano</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>






          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/White  chocolate mocha.webp" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">White  chocolate mocha</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Caramel  macchiato.jpg" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Caramel  macchiato</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>




          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Espresso  Hot Macchiato.webp" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Espresso  Hot Macchiato</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>




          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/frappuccino vanilla.jpg" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">frappuccino vanilla</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/frappuccino hazelnut.jpg" class="menu-img" alt="" style="width: 200px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">frappuccino hazelnut</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/frappuccino mocha frappe.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">frappuccino mocha frappe</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/frappuccino banana caramel.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">frappuccino banana caramel</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/frappuccino Ice mocha.webp" class="menu-img" alt="" style="width: 140px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">frappuccino Ice mocha</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>




          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/frappuccino Ice caramel.webp" class="menu-img" alt="" style="width: 140px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">frappuccino Ice caramel</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Mokhito.jpg" class="menu-img" alt="" style="width: 140px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Mokhito</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/Smoothies.png" class="menu-img" alt="" style="width: 150px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">Smoothies</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake vanilla.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake vanilla</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake Chocolate.png" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake Chocolate</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake Caramel.png" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake Caramel</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake Strawberry.png" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake Strawberry</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake Mongo.jpg" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake Mongo</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake Blueberry.jpg" class="menu-img" alt="" style="width: 100px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake Blueberry</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake OREO.png" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake OREO</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake Cookies.png" class="menu-img" alt="" style="width: 120px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake Cookies</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="assets/img/menu/milk shake Coffee.png" class="menu-img" alt="" style="width: 170px;">
            <div >
              <a href="#"  style="font-size: 20px; margin-left: 10px;">milk shake Coffee</a>
            </div>
            <div class="menu-ingredients" style="color: #6f2c3f; text-align: center; " >
              
            </div>
          </div>




          
          
                        <!-- ---------------- Khdewy ----------------------- -->




        </div>

      </div>
    </section>



  </main><!-- End #main -->


  <!--   footer   -->

<%- include('../includes/footer.ejs')  %>   
  

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
