<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title> Resta-Hotel </title>

    <!-- bootstrap css -->
<link rel="stylesheet" href="css2/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css2/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css2/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">









<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

















    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

      <link rel="stylesheet" href="./New folder/css/bootstrap.css">
    <link rel="stylesheet" href="./New folder/css/animate.css">
    <link rel="stylesheet" href="./New folder/css/owl.carousel.min.css">

    <link rel="stylesheet" href="./New folder/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="./New folder/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./New folder/css/magnific-popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"> 

     <!-- Theme Style -->
      <link rel="stylesheet" href="./New folder/css/style.css"> 


       <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="./New folder/assets/css/fontawesome.css">
    <link rel="stylesheet" href="./New folder/assets/css/templatemo-woox-travel.css">
    <link rel="stylesheet" href="./New folder/assets/css/owl.css">
    <link rel="stylesheet" href="./New folder/assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>


  
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
  
  
  
    <!--  nav bar  -->

    
     <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                   <div class="center-desk">
                      <div class="logo">
                         <a href="index.html"><img src="R-IMG/background/logo.png"   style="width: 100px;"></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto" style="margin-top: 20px;">
                      <li class="nav-item ">
                          <a class="nav-link" href="/">Home</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="/services">Services</a>
                       </li>
                       <!-- <li class="nav-item">
                          <a class="nav-link" href="/room">Rooms</a>
                       </li> -->
                       <li class="nav-item">
                          <a class="nav-link" href="/F&B">F&B</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact Us</a>
                       </li>
                       
                      
                       <li class="nav-item">
                          <div class="menu-btn" >
                              <a href="/reservation" class="det-btn" style="display: flex; justify-content: center; align-items: center; background-color: #85714D; font-size: 15px ; color: white; border: 2px solid #85714D; width: 170px ; height: 30px;"  >Make a Reservation</a>
                          </div> </li>
                    </ul>
                   </div>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </header>
 <!-- end header inner -->
 <!-- end header -->

   




 <!-- ***** Header Area End ***** -->

 <div class="second-page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>Book Prefered Deal Here</h4>
        <h2>Make Your Reservation</h2>
      </div>
    </div>
  </div>
</div>

<div class="more-info reservation-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="info-item">
          <i class="fa fa-phone" style="color: #85714D;"></i>
          <h4>Make a Phone Call</h4>
          <a href="#" style="color: #85714D;">0663200511 </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6" >
        <div class="info-item">
          <i class="fa fa-envelope" style="color: #85714D;"></i>
          <h4>Contact Us via Email</h4>
          <a href="#" style="color: #85714D;">restaportsaidhotel.com</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="info-item">
          <i class="fa fa-map-marker" style="color: #85714D;"></i>
          <h4 >Visit Our Hotel </h4>
          <a href="#" style="color: #85714D;">Shokri Al Kowatli, El Sharq, Port Said </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reservation-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.276877341654!2d32.316818!3d31.2684357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f99dd29f66fd7f%3A0x3a573da6a39b5c09!2z2YHZhtiv2YIg2LHYs9iq2Kcg2KjZiNix2LPYudmK2K8gUmVzdGEgUG9ydCBTYWlkIEhvdGVs!5e0!3m2!1sen!2seg!4v1694334365619!5m2!1sen!2seg" width="100%" height="450px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px;" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="col-lg-12" id="1">
        <form id="reservation-form" name="gs" method="POST" role="search" action="/reservation-form">
          <div class="row">
            <div class="col-lg-12">
              <h4>Make Your <em  style="color: #85714D;">Reservation</em> Through This <em style="color: #85714D;">Form</em></h4>
            </div>
            <div class="col-lg-6">
                <fieldset>
                    <label for="Name" class="form-label">Your Name</label>
                    <input type="text" name="name" class="Name" placeholder="Ex. John Smithee" autocomplete="on" required>
                </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                  <label for="Number" class="form-label">Your Phone Number</label>
                  <input type="text" name="phone" class="Number" placeholder="Ex. +xxx xxx xxx" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-6">
                <fieldset>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="room">Room</label>
                      <select name="room"  class="form-control" >
                        <option value="">City View </option>
                        <option value="">Canal View </option>
                        <option value="">Suite</option>
                      </select>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="room">Guests</label>
                      <select name="guests" class="form-control" >
                        <option value="">Single</option>
                        <option value="">Double</option>
                      </select>
                    </div>

                  </div> 



                  
                </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <form action="/resevation-mail" method="post">
                  <div class="row">
                      <div class="col-sm-6 form-group">
                          
                          <label for="">Arrival Date</label>
                          <div style="position: relative;">
                            <span class="fa fa-calendar icon" style="position: absolute; right: 10px; top: 10px;"></span>
                            <input type='date' class="form-control"   name="arrivalDate" />
                          </div>
                      </div>

                      <div class="col-sm-6 form-group">
                          
                          <div class="col-sm-6 form-group">
                          
                          <label for="">Departure Date</label>
                          <div style="position: relative;">
                            <span class="fa fa-calendar icon" style="position: absolute; right: 10px; top: 10px;"></span>
                            <input type='date' class="form-control" id='departure_date' name = "departureDate" />
                          </div>
                      </div>
                      </div>
                      
                  </div>
              </fieldset>
            </div>
            <div class="col-lg-12" >
              <fieldset>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" name="email">
                  </div>
                </div>
              </fieldset>
          </div>
            <div class="col-lg-12">
              <h4 style="color: #85714D;"> Card Details </h4>
            </div>
            <div class="col-lg-6">
              <fieldset>
                  <label for="Name" class="form-label">Cardholder Name</label>
                  <input type="text" name="cardHolderName" class="Name" placeholder="Ex. John Smithee" autocomplete="on" required>
              </fieldset>
          </div>
          <div class="col-lg-6">
            <fieldset>
                <!-- <label for="Number" class="form-label">CVV</label>
                <input type="text" name="cvv" class="Number" placeholder="Ex. 455" autocomplete="on" required> -->
            </fieldset>
          </div>
          <div class="col-lg-12">
            <fieldset>
                <label for="Number" class="form-label">Card Number</label>
                <input type="text" name="cardNumber" class="Number" placeholder="Ex. 12345678912345" autocomplete="on" required>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
                <label for="Number" class="form-label">Expiration Date</label>
                <div class="exp-wrapper">
                  <input name="mm" style="border: none;" autocomplete="off" class="exp" id="month" maxlength="2" pattern="[0-9]*" inputmode="numerical" placeholder="MM" type="text" data-pattern-validate />
                  <input name="yy" style="border: none;" autocomplete="off" class="exp" id="year" maxlength="2" pattern="[0-9]*" inputmode="numerical" placeholder="YY" type="text" data-pattern-validate />
                </div>
              </fieldset>
          </div>
            <div class="col-lg-12" style="margin-top: 80px;">                        
                <fieldset>
                  <button class="main-button" onclick="openModal();currentSlide(1)" style="background-color: #85714D;">Make Your Reservation Now</button>                </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>











<!-- <div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <form action="/about-opinion" method="POST" class="form-admin">
                         <h4 class="h4"> Your Request has been submitted <img src="/R-IMG/Smile.png" alt="" style="width: 35px;"></h4>
                         

                        <h4 class="h41" > Please Tell Us Your Opinion </em></h4>
                        <div class="col-md-6 form-group">
                        <label for="" class="form-label" >Your opinion</label>
                        <textarea  type="text" name="opinion" cols="30" rows="10" class="form-control form-text"></textarea>
                        </div>
                
                        <div class="col-md-6 form-group">
                        <label for="" class="form-label" style="font-weight: bold;">Your name</label>
                        <input type="text" name="yourName" class="form-control form-input">
                        </div>
                
                        <div class="col-md-6 form-group">
                        <label for="" class="form-label" >Your job</label>
                        <input name="job" id="" class="form-control form-input">
                        </div>
                
                        <div class="col-md-6 form-group">
                            <label for="" class="form-label" >Image</label>
                            <input name="image" id="" class="form-control form-input">
                        </div>
                    
                        <button type="submit" class="main-button">submit</button>
                    </form>

</div>
</div> -->



<script>
  $(function() {
     $("#tex").datepicker();
  });


  var dates = ["25/09/2023", "28/09/2023", "29/09/2023", "30/09/2023"];
function DisableDates(tex) {
    var string = jQuery.datepicker.formatDate('dd/mm/yy', tex);
    return [tex.indexOf(string) == -1];
}
$(function() {
     $("#tex").datepicker({
         beforeShowDay: DisableDates
     });
});
  </script>



   
<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}



</script>



<!--   footer   -->

<%- include('../includes/footer.ejs')  %>   





    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>





    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>
<script>const monthInput = document.querySelector('#month');
  const yearInput = document.querySelector('#year');
  
  const focusSibling = function(target, direction, callback) {
    const nextTarget = target[direction];
    nextTarget && nextTarget.focus();
    // if callback is supplied we return the sibling target which has focus
    callback && callback(nextTarget);
  }
  
  // input event only fires if there is space in the input for entry. 
  // If an input of x length has x characters, keyboard press will not fire this input event.
  monthInput.addEventListener('input', (event) => {
  
    const value = event.target.value.toString();
    // adds 0 to month user input like 9 -> 09
    if (value.length === 1 && value > 1) {
        event.target.value = "0" + value;
    }
    // bounds
    if (value === "00") {
        event.target.value = "01";
    } else if (value > 12) {
        event.target.value = "12";
    }
    // if we have a filled input we jump to the year input
    2 <= event.target.value.length && focusSibling(event.target, "nextElementSibling");
    event.stopImmediatePropagation();
  });
  
  yearInput.addEventListener('keydown', (event) => {
    // if the year is empty jump to the month input
    if (event.key === "Backspace" && event.target.selectionStart === 0) {
      focusSibling(event.target, "previousElementSibling");
      event.stopImmediatePropagation();
    }
  });
  
  const inputMatchesPattern = function(e) {
    const { 
      value, 
      selectionStart, 
      selectionEnd, 
      pattern 
    } = e.target;
    
    const character = String.fromCharCode(e.which);
    const proposedEntry = value.slice(0, selectionStart) + character + value.slice(selectionEnd);
    const match = proposedEntry.match(pattern);
    
    return e.metaKey || // cmd/ctrl
      e.which <= 0 || // arrow keys
      e.which == 8 || // delete key
      match && match["0"] === match.input; // pattern regex isMatch - workaround for passing [0-9]* into RegExp
  };
  
  document.querySelectorAll('input[data-pattern-validate]').forEach(el => el.addEventListener('keypress', e => {
    if (!inputMatchesPattern(e)) {
      return e.preventDefault();
    }
  }));</script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
      
      $('#arrival_date, #departure_date').datepicker({});

    </script>

    

    <script src="./New folder/js/main.js"></script> 


<!-- 
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> -->


    <style>
      .exp-wrapper {
      position: relative;
      border: 1px solid #aaa;
      display: flex;
      width: 150px;
      justify-content: space-around;
      height: 36px;
      line-height: 36px;
      font-size: 24px;
    }
    
    .exp-wrapper:after {
      content: '/';
      position: absolute;
      left: 50%;
      margin-left: -4px;
      color: #aaa;
    }
    
    input.exp {
      float: left;
      font-family: monospace;
      border: 0;
      width: 18px;
      outline: none;
      appearance: none;
      font-size: 14px;
    }
    </style>
    <style>
    
      * {
        box-sizing: border-box;
      }
      
      .row > .column {
        padding: 0 8px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .column {
        float: left;
        width: 25%;
      }
      
      /* The Modal (background) */
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: auto;
        
      }
      
      /* Modal Content */
      .modal-content {
        margin: auto;
        position: relative;
        margin: auto;
        padding: 0;
        width: 50%;
        height: 760px ;
        border :rgba(33, 31, 31, 0.19) solid 2px ; 
        background-color: rgb(69, 62, 62);
        color: white;
        border-radius: 20px ;
        
      }
      .h4{
        margin-left: 150px;
        margin-bottom: 20px;
        color: white;
        margin-top: 10px;
      }
      .h41{
        margin-left: 200px; 
        margin-bottom: 20px; 
        color:white;
      }
      
      .form-label{
        font-weight: bold;
      }
      .main-button{
        width: 100px ; 
        margin-top: 20px;
        margin-left: 40px; 
        border: 2px solid black ;
        margin-bottom: 30px;
        border-radius: 300px;
      }
    
      .form-text{
        width: 600px; 
        height: 200px;
      }
    
      img {
        margin-bottom: -4px;
      }
      
      .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
      }
      
      .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }
      
      img.hover-shadow {
        transition: 0.3s;
      }
      
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    
    
    
      @media screen and (max-width: 768px) {
      .modal-content {
        width: 90%;
        height: 90vh;
      }
      .h4{
        margin: auto;
      }
      .h41{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .modal-content {
        height: 100%;
        overflow-y: scroll;
      }
      
      .form-admin {
        padding: 20px;
      }
      
      .form-group {
        width: 100%;
      }
      
      .form-label {
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      .form-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
      }
      
      .form-text{
        width: 300px;
      }
    
      .main-button {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: #cb8670;
        border-radius: 300px;
      }
    }
      </style>

</body>

</html>




