<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title> Resta  - Hotel </title>


    
<!-- bootstrap css -->
<link rel="stylesheet" href="css2/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css2/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css2/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">



    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>



    <!--  nav bar  -->

<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                <div class="full">
                   <div class="center-desk">
                      <div class="logo">
                         <a href="index.html"><img src="R-IMG/background/logo.png" alt="#"  style="width: 100px;"></a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <nav class="navigation navbar navbar-expand-md navbar-dark ">
                   <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto" style="margin-top: 20px;">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">Home</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                         </li>
                         <!-- <li class="nav-item">
                            <a class="nav-link" href="/room">Rooms</a>
                         </li> -->
                         <li class="nav-item">
                            <a class="nav-link" href="/F&B">F&B</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                         </li>
                         
                        
                         <li class="nav-item">
                            <div class="menu-btn" >
                                <a href="/reservation" class="det-btn" style="display: flex; justify-content: center; align-items: center; background-color: #85714D; font-size: 15px ; color: white; border: 2px solid #85714D; width: 170px ; height: 30px;"  >Make a Reservation</a>
                            </div> </li>
                      </ul>
                   </div>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </header>
 <!-- end header inner -->
 <!-- end header -->





    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(./R-IMG/Serveces/back.jpg);">
        <div class="bradcumbContent">
            <h2>Services</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->


    <!-- ##### Service Intro Area Start ##### -->
    <section class="services-intro">
        <div class="container">
            <div class="row align-items-center">
                <!-- Service Intro Text -->
                <div class="col-12 col-lg-6">
                    <div class="service-intro-text mb-100">
                        <div class="section-heading">
                            <div class="line-"></div>
                            <h2 style="color: #85714D;">Amazing Services</h2>
                        </div>
                        <p style="font-size: 18px;">
                            Consider a stay at Resta Port Said and take advantage of a free breakfast buffet, a coffee shop/cafe, and dry cleaning/laundry services. Enjoy a meal at the two onsite restaurants. Stay connected with free in-room WiFi,
                             and guests can find other amenities such as a bar.
                             
                            </p>
                    </div>
                </div>

                <!-- Services Features -->
                <div class="col-12 col-lg-6">
                    <div class="row mb-100">

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-cocktail-1"></i>
                                    <p>Pool Beachbar</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-swimming-pool"></i>
                                    <p>Infinity Pool</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-beach"></i>
                                    <p>Sunbeds</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Intro Area End ##### -->

    <!-- ##### Core Features Start ##### -->
    <section class="core-features-area">
        <div class="container">
            <div class="row justify-content-center">

                <!-- Single Core Feature Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-core-feature mb-100">
                        <div class="bg-thumbnail bg-img" style="background-image: url(./R-IMG/Serveces/1.jpg);"></div>
                        <!-- Content -->
                        <div class="feature-content">
                            <i class="icon-sunset"></i>
                            <h3>Wellness</h3>
                            <p> Enjoys a great location near the Mediterranean Sea and views of the the Suez 
                                Canal entrance , 
                                which give you s great vibes and fresh feeling and good wellness  </p>
                        </div>
                    </div>
                </div>

                <!-- Single Core Feature Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-core-feature mb-100">
                        <div class="bg-thumbnail bg-img" style="background-image: url(./R-IMG/Serveces/2.jpg);"></div>
                        <!-- Content -->
                        <div class="feature-content">
                            <i class="icon-sunset"></i>
                            <h3>Pool</h3>
                            <p>
                                Swimming pool, Pool/Beach towels, Outdoor pool (seasonal), Outdoor pool ,
                                 Free!WiFi is available in all areas and is free of charge.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Core Feature Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-core-feature mb-100">
                        <div class="bg-thumbnail bg-img" style="background-image: url(./R-IMG/Serveces/3.jpg);"></div>
                        <!-- Content -->
                        <div class="feature-content">
                            <i class="icon-island"></i>
                            <h3>Restaurant</h3>
                            <p>The hotel's restaurant offers a combination of Egyptian specialties and classic Italian 
                                dishes. Guests can enjoy drinks at the bar and relax on the terrace,
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Core Features End ##### -->

    <!-- ##### Services Area Start ##### -->
    <section class="services-area">
        <div class="container">
            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <i class="icon-trekking"></i>
                        <h4>Tourist walk</h4>
                        <p>There are several nearby attractions such as the ancient Pharaonic obelisks and the emblematic headquarters of the Suez Canal Authority,</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <i class="icon-boat"></i>
                        <h4>Boat View </h4>
                        <p>great location near the Mediterranean Sea and offers views of the ships and ships that pass right by the Suez Canal entrance</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <i class="icon-restaurant"></i>
                        <h4>Restaurants</h4>
                        <p>The hotel's restaurant offers a combination of Egyptian specialties and classic Italian dishes.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <i class="icon-beach"></i>
                        <h4>Pool</h4>
                        <p>Swimming pool, Pool/Beach towels, Outdoor pool (seasonal), Outdoor pool
                            Free!WiFi is available in all areas and is free of charge.

                        </p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <i class="icon-boarding-pass"></i>
                        <h4>Parking</h4>
                        <p>Free private parking is available on site (reservation is not needed), Secure parking
                        </p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <i class="icon-sign"></i>
                        <h4>Network</h4>
                        <p>Available in all rooms: Free WiFi
                            Available in some public areas: Free WiFi
                            
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Services Area End ##### -->


<!--   footer   -->

<%- include('../includes/footer.ejs')  %>   





    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>